fastapi==0.110.1
uvicorn==0.25.0
gunicorn==21.2.0
motor==3.3.1
python-dotenv==1.2.1
passlib[bcrypt]==1.7.4
PyJWT==2.11.0
email-validator==2.3.0
reportlab==4.4.10
openpyxl==3.1.5
python-multipart==0.0.22
